/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.main-content {
  display: flex;
  height: 100vh;
}

.hospital-list-container {
  width: 30%;
  overflow-y: auto;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.hospital-details-container {
  width: 70%;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

#map {
  width: 100%;
  height: 400px; /* 필요에 따라 높이 조정 */
}
